<table class="table table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Matéria</th>
            <th>Professor</th>
            <th>Faltas</th>
            <th>Nota</th>
        </tr>
    </thead>
</table>